# Python kolekcijas
Python kolekcijas sākas no 0 indeksa, kas nozīmē, ka pirmais elements ir 0 indekss, otrais ir 1 indekss utt.
- list (saraksts) - slēgti saraksti, sakartoti, indeksēti deklarējas ar []
  Sarakstā var glabāties dažādi elementi ar dažādiem datu tipiem, piemēram
> a = [2, 3, 5.0, "hello", [1, 2, 3], {"name": "Denis"}, True]

- set (kopa) - deklarējas ar {}
- dict (vārdnīca) - deklarējas ar  {atslēga: vērtība}
- tuple (korteži) - deklarējas ar ()

In [8]:
# list examples
bicycle = ['Trek', 'Cannondale', 'Redline', 'Specialized']
print(bicycle)
print(bicycle[0])  # first element
print(bicycle[1])  # second element
print(bicycle[0:2]) # first two elements
print(bicycle[:3]) # first three elements
print(bicycle[2:]) # last two elements
print(bicycle[-2:]) # last two elements

# varam inicializēt tulšo sarkastu
a = []
print(bicycle,a)

['Trek', 'Cannondale', 'Redline', 'Specialized']
Trek
Cannondale
['Trek', 'Cannondale']
['Trek', 'Cannondale', 'Redline']
['Redline', 'Specialized']
['Redline', 'Specialized']
['Trek', 'Cannondale', 'Redline', 'Specialized'] []

In [9]:
# Veicam satura maiņas
motrocycles = ['honda', 'yamaha', 'suzuki']
print(motrocycles)
motrocycles[0] = 'ducati' # first element
print(motrocycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [ ]:
# Īpaši izmantotas fukncijas listiem
### POP ####
first_owned = motrocycles.pop(0) # remove first element
print(f"first owned motorclyc {first_owned.title()}")

### REMOVE ####
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

### SORT ### 
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)
cars.sort(reverse=True)
print(cars)
numbers = [1, 3, 8, 0, 7, 2]
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

first owned motorclyc Yamaha
['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
## Saraksta garuma mērīšana
# Elementu skaits sarakstā
cars = ["BMW", "Mercedes", "Audi", "Toyota", "Honda"]
len(cars)

# simbolu skaits tekstā
len("hello")

5

In [20]:
## Vārdnīcu izveide

dd = {
    'name': 'John',
    'age': 30,
    'city': 'New York'
}
print(dd)
print(len(dd)) # vārdnīcas garums
print(list(dd.keys())) # attēlo tikai atslēgas
print(list(dd.values())) # attēlo tikai vērtības

{'name': 'John', 'age': 30, 'city': 'New York'}
3
['name', 'age', 'city']
['John', 30, 'New York']

In [21]:
import json
data = [{"id": ("1", "2", "3"), "name": ("bhanu", "sivanagulu"), "department": ("HR", "IT")},
           {"id": ("4", "5", "6"), "name": ("sai", "poori"), "department": ("HR", "IT")},
           {"id": ("7", "8", "9"), "name": ("teja", "gowtam"), "department": ("finance", "IT")},
           {"id": ("10", "11", "12"), "name": ("sai", "jyothi"), "department": ("business", "IT")},
            {"id": ("13", "14", "15"), "name": ("prudhvi", "nagendram"),"department": ("business", "IT")}]
final = json.dumps(data, indent=2) # convert into json
print(final)

[
  {
    "id": [
      "1",
      "2",
      "3"
    ],
    "name": [
      "bhanu",
      "sivanagulu"
    ],
    "department": [
      "HR",
      "IT"
    ]
  },
  {
    "id": [
      "4",
      "5",
      "6"
    ],
    "name": [
      "sai",
      "poori"
    ],
    "department": [
      "HR",
      "IT"
    ]
  },
  {
    "id": [
      "7",
      "8",
      "9"
    ],
    "name": [
      "teja",
      "gowtam"
    ],
    "department": [
      "finance",
      "IT"
    ]
  },
  {
    "id": [
      "10",
      "11",
      "12"
    ],
    "name": [
      "sai",
      "jyothi"
    ],
    "department": [
      "business",
      "IT"
    ]
  },
  {
    "id": [
      "13",
      "14",
      "15"
    ],
    "name": [
      "prudhvi",
      "nagendram"
    ],
    "department": [
      "business",
      "IT"
    ]
  }
]

# Branching (jeb loģikalās struktūras)
if <nosacījums>:
    <kods>
elif <nosacījums>:
    <kods>
elif <nosacījums>:
    <kods>  
else:
    <kods>

# 09/04/25